.homeContainer {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
  background-color: transparent;
  /* margin-bottom: 20px; */
  margin-top: -30px;
}

.mainTitle {
  font-size: 2rem;
  margin: 40px 40px 40px 40px;
  color: #2c3e50;
}

.authContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.authBox {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.authBox h2 {
  margin-bottom: 20px;
  color: #34495e;
}

.authBox form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.authBox input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.authBox button {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.authBox button:hover {
  background-color: #2980b9;
}








/* navbar css */
.aaa-navbar {
  /* width: 100%; */
  background-color: #ffffff;
  padding: 12px 24px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* position: sticky; */
  top: 0;
  z-index: 10000;
  border-radius: 12px;
}

.aaa-navbar-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.aaa-logo {
  height: 40px;
  width: auto;
  object-fit: contain;
  border-radius: 6px;
}

.aaa-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}












